#header ul{
list-style-type:none;
}
  

#header ul li{
float:left;
list-style-type:none;
border:2px solid;
height:30px;
width:120px;
background-color:black;
color:white;
text-align:center;
}